aiofiles
asyncpg
fastapi
gunicorn
httptools
httpx
jinja2
pip-tools
pre-commit
psycopg2-binary
pydantic
pydantic_settings
pytest
pytest-asyncio
pytest-cov
pyyaml
requests
starlette
uvicorn[standard]
uvloop
sqlalchemy
alembic
