---
name: pre-commit

on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: [master]
  # Optional: Allow manual triggering

env:
  SKIP: no-commit-to-branch  # Disable the no-commit-to-branch hook in CI

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - uses: pre-commit/action@v3.0.1
