---
name: pre-commit

on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: [master]
  # Optional: Allow manual triggering

env:
  SKIP: no-commit-to-branch  # Disable the no-commit-to-branch hook in CI

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Jakub3628800/pre-commit-uv-action@v0.0.1
        with:
          extra_args: --all-files
