name: Auto-Update pre-commit Hooks

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Jakub3628800/pre-commit-uv-action@v0.0.1
        with:
          command: autoupdate
          pr-title: "chore: Pre-commit auto-update"
          pr-base: master
          pr-branch: pre-commit-autoupdate
          pr-labels: dependencies,github_actions
          pr-assignees: Jakub3628800
          pr-reviewers: Jakub3628800
